.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
};

.datos .card-header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 7px;
  margin-top: 10px;
 
}

.datos {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 3%;
  align-items: center;
}


.datos input {
  width: 100%;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 7px;
  margin: 5px;
  align-items: center;
}

.datos button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 10px;
  margin-top: 5px;
  align-items: center;
}

