import React from "react";
import { useAuth0 } from "@auth0/auth0-react";
import Button from "react-bootstrap/Button";
import NavBar from "../NavBar";
import boostrap from "bootstrap/dist/css/bootstrap.min.css";
import { Link } from "react-router-dom";
import { useState } from "react";
import { useHistory } from "react-router-dom";
import { Container, Form } from "react-bootstrap";
import Calendar from "../calendar.js";
import SideBar from "../SideBar.js";
import axios from "axios";
import "./hub.css";
import { Navbar, Nav, NavDropdown } from "react-bootstrap";

import { LoginButton } from "../login.js";
import { LogoutButton } from "../logout.js";
import { Profile } from "../profile.js";


export default function Hub() {
  const { user, isAuthenticated, isLoading } = useAuth0();
  if (isLoading) {
    return <div>Loading ...</div>;
  }
  return (
    isAuthenticated && (
      <body>
        <Navbar collapseOnSelect expand="lg" className="border-bottom" bg="ligth" variant="ligth">
        <Container>
          <Navbar.Brand>Marshal</Navbar.Brand>
          <Navbar.Toggle aria-controls="responsive-navbar-nav" />
          <Navbar.Collapse id="responsive-navbar-nav">
            <Nav className="me-auto">
              <NavDropdown title="Soluciones" id="collasible-nav-dropdown">
                <NavDropdown.Item href="#action/3.1">
                  Creacion de contenido automatico
                </NavDropdown.Item>
                <NavDropdown.Item href="#action/3.1">
                  Estrategias publicitarias y SEO
                </NavDropdown.Item>
                <NavDropdown.Item href="#action/3.3">
                  Planning mensual para redes
                </NavDropdown.Item>
                <NavDropdown.Divider />
                <NavDropdown.Item href="#action/3.4">
                  Combina todo y aumenta tus ventas
                </NavDropdown.Item>
              </NavDropdown>
              <NavDropdown title="Herramientas" id="collasible-nav-dropdown">
                <NavDropdown.Item href="#action/3.1">
                  <Link
                    className="text-decoration-none text-secondary"
                    to="/rb"
                  >
                    Remover fondo
                  </Link>
                </NavDropdown.Item>
                <NavDropdown.Item href="#action/3.2">
                  Crear contenido automatico
                </NavDropdown.Item>
                <NavDropdown.Item href="#action/3.3">
                  Editor con IA
                </NavDropdown.Item>
                <NavDropdown.Item href="#action/3.3">
                  Programa tus publicaciones
                </NavDropdown.Item>
                <NavDropdown.Divider />
                <NavDropdown.Item href="#action/3.4">
                  Comienza tu proyecto
                </NavDropdown.Item>
              </NavDropdown>
              <Nav.Link>Precios / Planes</Nav.Link>
            </Nav>
            <Nav>
              {isAuthenticated ? (
                <>
                  <LogoutButton />
                  <Profile />
                </>
              ) : (
                <LoginButton />
              )}
            </Nav>
          </Navbar.Collapse>
        </Container>
      </Navbar>

        <div class="row">

          <div class="col-sm-12 col-md-4 col-lg-2 col-xl-2">
            <div class="row felx-nowrap">
              <div class="bg-dark col-auto col-md-4 min-vh-100">
                <div class="bg-dark p-2">
                  <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <br></br>
                    <br></br>
                    <br></br>
                    <span class="fs-4">Sidebar</span>
                  </a>
                  <ul class="col-xl-2 col-lg-2 nav nav-pills  mb-auto">
                    <li class="nav-item">
                      <button
                        type="button"
                        class="btn btn-outline-light"
                        data-toggle="modal"
                        data-target="#exampleModal"
                      >
                        <a href="#" class="nav-link text-white"></a>
                      </button>
                    </li>
                    <li>
                      <a href="#" class="nav-link text-white">
                        Dashboard
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nav-link text-white">
                        Orders
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nav-link text-white">
                        Orders
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nav-link text-white">
                        Orders
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <h1>Hub</h1>
            <div class="jumbotron">
              <h1 class="display-4">Hello, world!</h1>
              <p class="lead">
                This is a simple hero unit, a simple jumbotron-style component
                for calling extra attention to featured content or information.
              </p>

              <p>
                It uses utility classes for typography and spacing to space
                content out within the larger container.
              </p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">
                  Learn more
                </a>
              </p>
            </div>
          </div>
        </div>
      </body>
    )
  );
}
